<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Please activate your account</title>
    <style>
        #website-title {
            font-size: 18px;
            color: #2ecc71;
        }
    </style>
</head>

<body>
    <p id="website-title">{{ website_title }}</p>
    <p>Hello {{ username }},</p>
    <p>Welcome to {{ website_name }}!</p>
    <p>To activate your account please click the link below:</p>
    <p>{{ protocol }}://{{ frontend }}/verify_email/{{ token }}</p>
</body>

</html>